*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ====================
    Variables
==================== */

:root {
    --primary-color: #90CAF9;
    --primary-color-light: #C3FDFF;
    --primary-color-dark: #5D99C6;
    --primary-text-color: #000;
    --secondary-color: #3949AB;
    --secondary-color-light: #6F74DD;
    --secondary-color-dark: #00227B;
    --secondary-text-color: #FFF;
}

/* ====================
    General
==================== */

body {
    padding: 0;
    margin: 0;
    background-color: rgb(137, 201, 170);
    background-image: url('../assets/just-waves/just-waves.png')
}

img {
    max-width: 100%:
    display: block;
}

/* ====================
    Typography
==================== */

.app {
    font-family: 'Work Sans', sans-serif;
}

/* ------------------
    type.header
------------------ */

.todo-list-refresher__redo-icon {
    font-size: 1.75em;
    color: white;
}

.todo-list-refresher__redo-icon:hover {
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4);
}

.date {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.375rem;
    font-weight: 700;
    color: var(--secondary-text-color);
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4);
    letter-spacing: 0.1em;
}

/* ------------------
    type.main
------------------ */

/* ------------------
    type.item
------------------ */

.todo-list__circle-icon {
    font-size: 1.5625rem;
}

.todo-list__circle-icon--checked {
    color: green;
}

.todo-list__text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.25rem;
    color: white;
}

.todo-list__text--linethrough {
    text-decoration: line-through;
    font-style: italic;
    color : green;
}

.todo-list__trash-icon {
    font-size: 1.5625rem;
    color: white;
}

.todo-list__trash-icon:hover {
    color: red;
    font-size: 1.5625rem;
}

/* ------------------
    type.input
------------------ */

.item-adder__input {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.25rem;
}

.item-adder__plus-circle-icon {
    font-family: 'Bebas Neueu', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.item-adder__plus-circle-icon:hover {
    color: blue;
}


/* ====================
    Layout
==================== */

.app {
    margin: 0 auto;
    box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, 0.4);
}

/* ------------------
    layout.header
------------------ */

header {
    /* min-height: 5vh; */
    background-color: #03045e;
    /* background-image: url("../assets/wide-image4.jpg"); */
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.25em 0.5em;
}

.todo-list-refresher {
    width: 30px;
    height: 30px;
    margin-left: auto;
}

.todo-list-refresher__redo-icon {
    cursor: pointer;
}

.todo-list-refresher__redo-icon:hover {
    transform: rotate(45deg);
}

@media (min-width: 600px) {
    .app {
        width: 75%;
    }
}

/* ------------------
    layout.main
------------------ */

.main-content {
    min-height: 85vh;
    background-image: var(--primary-color-light);
    background-image: url(../assets/triangles/triangles.png);
    max-height: 360px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #cdcdcd transparent;
    position: relative;
    z-index: 1;
    max-width: 600px;
    padding-top: 0.5em;
}

.todo-list {
    padding: 0;
    margin: 0;
}

@media (min-width: 600px) {
    .main-content {
        max-width: initial;
    }

    .todo-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        padding-top: 0.5em;
    }
}

/* ------------------
    layout.item
------------------ */

/* .new {
    cursor: pointer;
    padding: 1em 2.5em;
    border-radius: 10px;
    color: white;
    background: black;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    order: 10;
}

.new:hover,
.new:focus {
    color: black;
    background: white;
    border: 1px solid black;
} */

.todo-list__item {
    min-height: 7vh;
    max-width: 600px;
    word-wrap: break-word;
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    /* transition: border 0.5s, background 0.5s; */
    display: flex;
    align-items: center;
    background-color: var(--primary-color-light);
    position: relative;
}

.todo-list__text {
    padding: 1em 0;
    margin: 0;
    margin-left: 0.75em;
    background: inherit;
    max-width: 77.5%;
}

.todo-list__circle-icon {
    margin-left: 0.75em;
    cursor: pointer;
} 

.todo-list__circle-icon--checked {
    padding-left: 5px;
}

.todo-list__trash-icon {
    cursor: pointer;
    display: none;
    margin-left: auto;
    margin-right: 1em;
    animation: fadeIn 0.5s;
}

@media (min-width: 600px) {
    .todo-list__item {
        padding: 0 1em;
        min-height: 14vh;
        flex: 1 1 30%;
        max-width: 30%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 0.5em;
        position: relative;
        border-radius: 10px;
    }

    .todo-list__item::before, 
    .todo-list__item::after {
        z-index: -1;
        position: absolute;
        content: '';
        bottom: 15px;
        left: 10px;
        top: 80%;
        width: 50%;
        max-width: 300px;
        background: #707070;
        box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
        transform: rotate(-3deg);
    }

    .todo-list__item::after {
        left: auto;
        right: 10px;
        transform: rotate(3deg);
    }

    .todo-list__text {
        max-width: 100%;
        word-break: break-word;
        margin: 0 0 0.25em;
    }

    .todo-list__circle-icon {
        margin: 0.75em 0 0.25em;
        margin-right: auto;
    } 

    .todo-list__trash-icon {
        margin: auto 0 0.5em;
    }

}

/* ------------------
    layout.input
------------------ */

.item-adder {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 9vh;
    background-color: #c5c5c5;
    padding: 10px;
    border-top: 1px solid black;
    
}

.item-adder__input {
    flex: 1;
    background-color: transparent;
    border: 0;
    margin-right: auto;
}

.item-adder__plus-circle-icon {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: blue;
    cursor: pointer;
    border: 1px solid transparent;
    margin: 0 0.25em;
}

.item-adder__plus-circle-icon:hover {
    background: white;
    border: 1px solid blue;
}

.item-adder__plus-circle-icon:active {
    transform: translateY(1px);
}

/* ====================
    Animations
==================== */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
