*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(137, 201, 170);
}

/* ----- Container ----- */

.app {
    width: 380px;
    margin: 10px auto 0px;
    font-family: 'Work Sans', sans-serif;
    box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, 0.4);
}

/* ----- Header ----- */

.header {
    width: 380px;
    height: 200px;
    background: url('../assets/lightTheme.svg');
    background-size: 200%;
    background-color: lightblue;
    background-position: -100px -175px;
    border-radius: 15px 15px 0 0;
    position: relative;
}

.todo-list-refresher {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.todo-list-refresher__redo-icon {
    font-size: 1.75em;
    color: white;
    cursor: pointer;
}

.todo-list-refresher__redo-icon:hover {
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4);
    transform: rotate(45deg);
}

.date {
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: #D2C844;
    font-size: 2.375rem;
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4);
    font-family: 'Bebas Neue', sans-serif;
}

/* ----- Content ----- */

.main-content {
    width: 380px;
    height: 360px;
    background: white;
    max-height: 360px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #cdcdcd transparent;
}

.todo-list {
    padding: 0;
    margin: 0;
}

.todo-list__item {
    width: 380px;
    height: 45px;
    min-height: 45px;
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    transition: border 0.5s, background 0.5s;
}

/* .todo-list__item--done:focus,
.todo-list__item--done:hover {
    
}

.todo-list__item--undone:focus,
.todo-list__item--undone:hover {
    
} */

.todo-list__circle-icon {
    cursor: pointer;
    font-size: 1.5625rem;
    position: absolute;
    left: 15px;
    top: 10px;
}   

.todo-list__circle-icon--unchecked {
    padding-left: 5px;
    
}

.todo-list__circle-icon--checked {
    color: green;
    padding-left: 5px;
}

.todo-list__text {
    position: absolute;
    padding: 0;
    margin: 0;
    font-size: 1.25rem;
    left: 50px;
    top: 10px;
    background-color: inherit;
    max-width: 285px;
}

.todo-list__text--linethrough {
    text-decoration: line-through;
    font-style: italic;
    color : green;
}

.todo-list__trash-icon {
    position: absolute;
    font-size: 1.5625rem;
    right: 15px;
    top: 10px;
    cursor: pointer;
    display: none;
    animation: fadeIn 0.5s;
}

.todo-list__trash-icon:hover {
    color: red;
    position: absolute;
    font-size: 1.5625rem;
    right: 15px;
    top: 10px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* ----- Add Item ----- */

.item-adder {
    display: flex;
    justify-content: center;
    align-items: space-around;
    position: relative;
    width: 380px;
    height: 61px;
    background-color: white;
    padding: 10px;
    border-top: 1px solid black;
    
}

.item-adder__plus-circle-icon {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Bebas Neueu', sans-serif;
    color: white;
    background: blue;
    cursor: pointer;
    border: 1px solid transparent;
    margin-right: 5px;
}

.item-adder__plus-circle-icon:hover {
    color: blue;
    background: white;
    border: 1px solid blue;
}

.item-adder__plus-circle-icon:active {
    transform: translateY(1px);
}

.item-adder__input {
    flex: 1;
    background-color: transparent;
    border: none;
    font-size: 1.25rem;
    font-family: 'Work Sans', sans-serif;
    padding-left: 10px;
}

/* ----- Theme Selector ----- */

.theme-selector {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
}

.theme-selector__toggle-icon {
    font-size: 1.85em;
    cursor: pointer;
}

/* ----- Light Theme ----- */

.lt__body {
    background: rgb(137, 201, 170);
}

.lt__header {
    background-size: 200%;
    background-image: url('../assets/lightTheme.svg');
    background-position: -100px -175px;
}

.lt__date {
    font-size: 2.375rem;
    color: #D2C844;
    font-family: 'Bebas Neue', cursive;
}

.lt__content {
    background: white;
}

.lt__item-adder {
    background: white;
}

/* ----- Dark Theme ----- */

.dt__body {
    background: #003d47;
}

.dt__header {
    background-size: 150%;
    background-image: url('../assets/darkTheme.svg');
    background-position: initial;
}

.dt__date {
    font-size: 2.25rem;
    color: #B6E0EA;
    font-family: 'Permanent Marker', cursive;
}

/* .dt__content {
    background: lightgray;
}

.dt__item-adder {
    background: lightgray;
} */
